<MudExpansionPanel HideIcon="true">
    <TitleContent>
        <div class="d-flex">
            <MudText Class="mt-1">Border Radius</MudText>
            <MudBadge Content="@Radius.ToString()" Color="Color.Secondary" Overlap="true" Class="d-flex ml-auto">
                <MudIcon Icon="@Icons.Filled.BorderStyle" Color="Color.Default" Class="d-flex ml-auto" />
            </MudBadge>
        </div>
    </TitleContent>
    <ChildContent>
        <MudSlider @bind-Value="@Radius" Min="0" Max="@MaxValue" Immediate="false" Step="1" Color="Color.Primary"
            @oninput="@((e) => ChangedSelection(e))">
            @Radius.ToString()</MudSlider>
    </ChildContent>
</MudExpansionPanel>