@page "/account/forgot-password"
@attribute [AllowAnonymous]
@inject IStringLocalizer<ForgotPassword> L

<EditForm Model="@_forgotPasswordRequest" OnValidSubmit="SubmitAsync">
    <MudCard Elevation="0">
        <MudCardHeader>
            <CardHeaderContent>
                <MudTooltip Text="Go Home">
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.Start" Link="/"/>
                </MudTooltip>
                <div class="d-flex justify-center">
                    <img src="full-stack-hero-logo.png" Style="height:100px"/>
                </div>
                <MudText Typo="Typo.h4" GutterBottom="true" Align="Align.Center">@L["Forgot Password"]</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <DataAnnotationsValidator/>
                <CustomValidation @ref="_customValidation"/>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Tenant" Variant="Variant.Outlined" @bind-Value="_tenant" For="@(() => _tenant)" Required/>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="E-mail" Variant="Variant.Outlined" @bind-Value="_forgotPasswordRequest.Email"
                                  For="@(() => _forgotPasswordRequest.Email)" InputType="InputType.Email" Adornment="Adornment.End"/>
                </MudItem>
            </MudGrid>
        </MudCardContent>
        <MudCardActions Class="pb-4 pl-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Class="ml-auto">@L["Forgot Password"]</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>