@page "/account/forgot-password"
@attribute [AllowAnonymous]
@inject Microsoft.Extensions.Localization.IStringLocalizer<ForgotPassword> L

@*<MudTooltip Text="Go Home"><MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.Start" Link="/" /></MudTooltip>
<div class="d-flex justify-center">
    <img src="full-stack-hero-logo.png" Style="height:100px" />
</div>
<div class="fsh-center-text">
    <MudText Typo="Typo.h4" GutterBottom="true">@L["Forgot Password"]</MudText>
</div>
<EditForm Model="@_forgotPasswordRequest" OnValidSubmit="SubmitAsync">
    <MudGrid>
        <DataAnnotationsValidator />
        <CustomValidation @ref="_customValidation" />
        <MudItem xs="12">
            <MudTextField T="string" Label="Tenant" Variant="Variant.Outlined" @bind-Value="_tenant" For="@(() => _tenant)" Required />
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="E-mail" Variant="Variant.Outlined"
                          @bind-Value="_forgotPasswordRequest.Email"
                          For="@(() => _forgotPasswordRequest.Email)"
                          InputType="InputType.Email" Adornment="Adornment.End"/>
        </MudItem>
        <MudItem xs="12">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Class="ml-auto">@L["Forgot Password"]</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>*@
<EditForm Model="@_forgotPasswordRequest" OnValidSubmit="SubmitAsync">
    <MudCard Elevation="0">
        <MudCardHeader>
            <CardHeaderContent>
                <MudTooltip Text="Go Home"><MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.Start" Link="/" /></MudTooltip>
                <div class="d-flex justify-center"><img src="full-stack-hero-logo.png" Style="height:100px" /></div>
                <MudText Typo="Typo.h4" GutterBottom="true" Align="Align.Center">@L["Forgot Password"]</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <DataAnnotationsValidator />
                <CustomValidation @ref="_customValidation" />
                <MudItem xs="12">
                    <MudTextField T="string" Label="Tenant" Variant="Variant.Outlined" @bind-Value="_tenant" For="@(() => _tenant)" Required />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="E-mail" Variant="Variant.Outlined" @bind-Value="_forgotPasswordRequest.Email"
                                  For="@(() => _forgotPasswordRequest.Email)" InputType="InputType.Email" Adornment="Adornment.End"/>
                </MudItem>
            </MudGrid>
        </MudCardContent>
        <MudCardActions Class="pb-4 pl-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Class="ml-auto">@L["Forgot Password"]</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>
@code {
    private ForgotPasswordRequest? _forgotPasswordRequest = new ForgotPasswordRequest();
    public bool BusySubmitting { get; set; } = false;

    private CustomValidation? _customValidation;

    [Inject]
    public IIdentityClient _IdentityClient { get; set; } = default!;

    public string _tenant { get; set; } = "root";
    private async Task SubmitAsync()
    {
        BusySubmitting = true;
        // _tenant = "root";
        await ApiHelper.ExecuteCallGuardedAsync(
            () => _IdentityClient.ForgotPasswordAsync(_tenant, _forgotPasswordRequest),
            _snackBar,
            _customValidation);
        

        BusySubmitting = false;
    }

}