@page "/login"
@layout BaseLayout
@attribute [AllowAnonymous]

<div class="d-flex justify-center">
    <img src="full-stack-hero-logo.png" Style="height:100px" />
</div>
<div class="fsh-center-text">
    <MudText Typo="Typo.h4" GutterBottom="true">Sign In</MudText>
    <MudText>Don't have an account? <MudLink Href="/pages/authentication/register">Sign Up</MudLink></MudText>
</div>
<br />
<EditForm Model="@tokenRequest" OnValidSubmit="SubmitAsync">
    <MudGrid>
        <DataAnnotationsValidator />
        <MudItem xs="12">
            <MudTextField T="string" Label="E-mail" Variant="Variant.Outlined"
                          @bind-Value="tokenRequest.Email" For="@(() => tokenRequest.Email)" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Password" Variant="Variant.Outlined"
                          @bind-Value="tokenRequest.Password" For="@(() => tokenRequest.Password)"
                          InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="Tenant" Variant="Variant.Outlined"
                          @bind-Value="tokenRequest.Tenant" For="@(() => tokenRequest.Tenant)" />
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-space-between align-center">
            <MudCheckBox T="bool" Label="Remember me?" Color="Color.Primary" Class="ml-n1"></MudCheckBox> <MudLink Href="/account/forgot-password">Forgot password?</MudLink>
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Submit" Disabled="BusySubmitting" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">Sign In</MudButton>
        </MudItem>
        <MudItem xs="12">
            <MudButton OnClick="FillAdministratorCredentials">Fill Administrator Credentials</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>