@page "/tenants"

@inject IStringLocalizer<Tenants> L

<FshTitle Title="@L["Tenants"]" Description="@L["Manage Tenants."]" />

<EntityTable TEntity="TenantDetail" TId="Guid" TRequest="CreateTenantRequest" Context="@Context"
    @bind-SearchString="_searchString" Dense="false" Striped="true">
    <EditFormContent>
        <MudItem xs="12" md="6">
            <MudTextField T="string" For="@(() => context.Name)" @bind-Value="context.Name" Label="@L["Name"]" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField T="string" For="@(() => context.Key)" @bind-Value="context.Key" Label="@L["Key"]" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField T="string" For="@(() => context.ConnectionString)" @bind-Value="context.ConnectionString"
                Label="@L["Connection String"]" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField T="string" For="@(() => context.AdminEmail)" @bind-Value="context.AdminEmail"
                Label="@L["Admin Email"]" />
        </MudItem>
    </EditFormContent>
    <ActionsContent>
        <MudButton Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown"
            IconColor="Color.Secondary" OnClick="@(() => ShowBtnPress(context.Id))">@((context.ShowDetails == true) ?
            L["Hide"] : L["Show"]) @L["Tenant Details"]</MudButton>
    </ActionsContent>

    <ChildRowContent>
        @if (context.ShowDetails)
        {
            <MudTr>
                <td colspan="5">
                    <MudCard Elevation="25" style="margin: 10px !important;">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudAlert Severity="Severity.Info" Typo="Typo.body1">@L["Details for Tenant"] :
                                    <strong>@context.Id</strong>
                                </MudAlert>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <table class="mud-table-root">
                                <tbody class="mud-table-body">
                                    <tr class="mud-table-row">
                                        <td>@L["Connection String"]</td>
                                        <td>
                                            <MudItem>
                                                <MudChip Label="true" Color="Color.Primary">
                                                    @context.ConnectionString?.Trim()</MudChip>
                                            </MudItem>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </MudCardContent>
                    </MudCard>
                </td>
            </MudTr>
        }
    </ChildRowContent>

</EntityTable>