@page "/tenants"

@inject IStringLocalizer<Tenants> L

<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<FshTitle Title="@L["Tenants"]" Description="@L["Manage Tenants."]" />

<MudExpansionPanel
    Style="padding:10px!important; margin-bottom:10px!important;border-radius: var(--mud-default-borderradius) !important;"
    Class="mud-elevation-25" Text="@L["Search"]">
    <MudTextField @bind-Value="@_searchString" Immediate="true" Placeholder="@L["Search for Tenants"]"
        Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
        TextChanged="@((e) => OnSearch(e))" Style="flex:none!important;margin:0px!important"></MudTextField>
</MudExpansionPanel>

<MudTable Loading="@_loading" Items="@Elements" Dense="@Dense" Hover="@Hover" ReadOnly="@Ronly" CanCancelEdit="true"
    Filter="new Func<TenantDto,bool>(FilterFunc)" @bind-SelectedItem="SelectedItem1" SortLabel="Sort By"
    CommitEditTooltip="Commit Edit" OnCommitEditClick="@(() => Snackbar.Add("Commit Edit Handler Invoked"))"
    RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues" RowEditCommit="ItemHasBeenCommitted">
    <ToolBarContent>
        <div class="justify-center mud-text-align-center">
            <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => InvokeModal())"
                StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">@L["Create"]</MudButton>
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => OnSearch(""))"
                StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary"
                Style="margin-left: 5px;">@L["Reload"]</MudButton>
        </div>
        <MudSpacer />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<TenantDto, object>(x=>x.Id)">Id</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel InitialDirection="SortDirection.Ascending"
                SortBy="new Func<TenantDto, object?>(x=>x.Name)">Name</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<TenantDto, object?>(x=>x.Key)">Key</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<TenantDto, object?>(x=>x.AdminEmail)">AdminEmail</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<TenantDto, object?>(x=>x.ConnectionString)">ConnectionString
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<TenantDto, object>(x=>x.IsActive)">IsActive</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<TenantDto, object>(x=>x.ValidUpto)">ValidUpto</MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Key">@context.Key</MudTd>
        <MudTd DataLabel="AdminEmail">@context.AdminEmail</MudTd>
        <MudTd DataLabel="ConnectionString">@context.ConnectionString</MudTd>
        <MudTd DataLabel="IsActive">@context.IsActive</MudTd>
        <MudTd DataLabel="ValidUpto">@context.ValidUpto</MudTd>
    </RowTemplate>
    <RowEditingTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Name">
            <MudTextField @bind-Value="@context.Name" Required />
        </MudTd>
        <MudTd DataLabel="Key">
            <MudTextField @bind-Value="@context.Key" Required />
        </MudTd>
        <MudTd DataLabel="AdminEmail">
            <MudTextField @bind-Value="@context.AdminEmail" Required />
        </MudTd>
        <MudTd DataLabel="ConnectionString">
            <MudTextField @bind-Value="@context.ConnectionString" />
        </MudTd>
        <MudTd DataLabel="IsActive">
            <MudCheckBox @bind-Checked="@context.IsActive" Color="Color.Secondary"></MudCheckBox>
        </MudTd>
        <MudTd DataLabel="ValidUpto">
            <MudDatePicker @ref="_picker" @bind-Date="@Date">
                <PickerActions>
                    <MudButton Class="mr-auto align-self-start" OnClick="@(() => _picker.Clear())">Clear</MudButton>
                    <MudButton OnClick="@(() => _picker.Close(false))">Cancel</MudButton>
                    <MudButton Color="Color.Primary" OnClick="@(() => _picker.Close())">Ok</MudButton>
                </PickerActions>
            </MudDatePicker>
        </MudTd>
    </RowEditingTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<MudSwitch @bind-Checked="@Hover" Color="Color.Primary">Hover</MudSwitch>
<MudSwitch @bind-Checked="@Dense" Color="Color.Secondary">Dense</MudSwitch>
<MudSwitch @bind-Checked="@Ronly" Color="Color.Tertiary">Read Only</MudSwitch>